<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!--Use relative path. Absolute path do not work if solutions are in diffrent directories. Nuget package saved in root of SNDB directory-->
    <add key="repositoryPath" value="..\..\..\nugetPackages" />
  </config>  <activePackageSource>    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />  </activePackageSource>
</configuration>